venv/
*.pyc
__pycache__
LMNOPsite/lmn/__pycache__/
*.sqlite3

# geckdriver executable file and logs
executables
geckodriver
geckodriver.log
LMNOPsite/geckodriver.log

# PyCharm / IDEA
.idea


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

secrets.py
eventful_data/secrets.py
eventful_data/MN_venues_data.json
