{% extends 'lmn/base.html' %}

{% block content %}

    <h2 id="artists_at_venue_title">Artists that have played at {{ venue.name }}</h2> <!-- TODO link to venue -->
    <table class="table">
        {% for show in shows %}

            <tr class="show" id="show_{{ show.pk }}">
                <!-- TODO link to artist -->
                <td>{{ show.artist.name }} on {{ show.show_date }}</td>
                <td><a href="{% url 'lmn:notes_for_show' show_pk=show.pk %}">See & add notes</a></td>
            </tr>

        {% empty %}
            <tr>
                <td id="no_results">We have no records of shows at this venue</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
