{% extends 'lmn/base.html' %}
{% load static from staticfiles %}
{% block content %}

    <h2>Artist List</h2>
    <div>
    <P>Artist Search</p>
      <form method="POST" action="{% url 'lmn:artist_list' %}">
      {% csrf_token %}
          <label for="artist_search">Artist search</label>
          <input id='artist_search' name="search_artist" type='text'/>
        <button  type='submit' value ='artist_search'>Search</button>
      </form>
    </div>


    {% if search_term %}
        <h2 id='artist_list_title'>Artists matching '{{ search_term }}' <a
                href="{% url 'lmn:artist_list' %}" id='clear_search'>(clear)</a>
        </h2>
    {% else %}
        <h2 id='artist_list_title'>All artists</h2>
    {% endif %}

    <div class="row">

    {% for artist in artists %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="artist" id="artist_{{ artist.pk }}">
                        <P>
                            <a href="{% url 'lmn:artist_detail' artist_pk=artist.pk %}">{{ artist.name }}</a>
                        </p>

                    </div>
                </div>
                <div class="panel-footer">
                      <p>See venues played, notes, and add your own <a
                            href="{% url 'lmn:venues_for_artist' artist_pk=artist.pk %}">{{ artist.name }}
                             notes</a></p>
                </div>
            </div>
        </div>

    {% empty %}
        <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body panel-warning">
                        <P>No artists found</P>
            </div>
        </div>
        </div>

    {% endfor %}
</div>

{% endblock %}
{% block jsincludes %}
    <!-- Needed for form autocomplete -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'js/autocompleteArtist.js' %}"></script>
{% endblock %}