{% extends 'lmn/base.html' %}
{% block content %}

    <div class="row">
        <div class="col-md-12">
            {% if show %}
                <h2 id="show_title">
                    Notes for {{ show.artist.name }}
                    at {{ show.venue.name }} on {{ show.show_date }}
                </h2>
            {% else %}
                <h2>Latest Notes</h2>
            {% endif %}
        </div>
    </div>
<div class="row">
    {% for note in notes %}

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>{{ note.title }}</h3>
                    </div>
                    <div class="panel-body">
                        <div id="note_{{ note.pk }}">
                            <p class='note_text'>{{ note.text|truncatechars:140 }}</p>
                            {% if note.document %}
                                <img src="{{ note.document.url }}" alt="image"
                                     class="img-responsive">
                            {% else %}
                                <p>No photo uploaded</p>
                            {% endif %}

                        </div>
                    </div>
                    <div class="panel-footer">
                        <p class="small show-info"><a href="{% url 'lmn:notes_for_show' show_pk=note.show.pk %}">{{ note.show.artist.name }}
                                at {{ note.show.venue.name }}
                                on {{ note.show.show_date }}</a></p>
                        <p class="small note_info">Posted
                                on {{ note.posted_date }} by <a
                                        class='user'
                                        href="{% url 'lmn:user_profile' user_pk=note.user.pk %}">{{ note.user.username }}</a>
                            </p>
                    </div>
                </div>
            </div>

    {% empty %}

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body panel-warning">
                    <p>No notes.</p>
                        </div>
                </div>

        </div>

    {% endfor %}
         </div>

    <!-- If this is a list of notes for one show,
    display button to add new note for that show. -->

    {% if show %}

        <form action="{% url 'lmn:new_note' show_pk=show.pk %}">
            <input id="add_note" type='submit' value='Add your own notes'>
        </form>

    {% endif %}

{% endblock %}
